/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 35px;
}

/*---------- 
Navbar 
----------*/
nav {
  display: flex;
  justify-content: space-between;
  height: 45px;
  align-items: center;
}

.logo {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 700;
}

.navigation {
  display: flex;
}

.navigation li {
  list-style: none;
  margin-right: 34px;
}

.navigation li a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 16px;
}

/*---------- 
Banner section 
----------*/
.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  margin: 100px 0;
  gap: 60px;
}

.banner-title {
  font-size: 52px;
}

.banner-info {
  font-size: 16px;
  margin: 16px 0;
}

.banner-button {
  font-size: 16px;
  background: #e02c6d;
  border-radius: 41px;
  padding: 10px 24px;
  color: #fff;
  font-weight: 700;
  border: none;
}

.banner-right img {
  width: 440px;
  height: 414px;
}

/*---------- 
Brand Logo Section
----------*/
.brand-logos {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-items: center;
  border-top: 1px solid #c0ccda;
  border-bottom: 1px solid #c0ccda;
}

.brand-logos img {
  padding: 35px;
}

/*---------- 
Popular Collection
----------*/
.collection-title {
  font-size: 28px;
  font-weight: 600;
  color: #3a3a3a;
  margin: 100px 0 30px 0;
  text-align: center;
}

.collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  justify-items: center;
}

.collection-items {
  width: 329px;
  height: 476px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  padding: 15px;
  border-radius: 5px;
}
.item-banner img {
  width: 300px;
  height: 256px;
}

.item-title {
  font-size: 28px;
  font-weight: 500;
  color: #18191f;
  margin-bottom: 6px;
}

.item-prize {
  font-size: 24px;
  color: #000000de;
  font-weight: 100;
}

.fa-star,
.fa-star-half-alt {
  font-size: 14px;
  color: #fb8200;
}

.item-info span {
  color: #5e6366;
}

.item-details p {
  color: #787885;
}

.btn-more {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #e02c6d;
  float: right;
  margin: 50px;
}

/*---------- 
Footer
----------*/
footer {
  margin-top: 70px;
  width: 100%;
}
.footer-details {
  display: flex;
  padding: 50px;
  align-items: center;
  flex-direction: column;
  background: #0a0826;
  color: #fff;
}

.footer-details p {
  font-size: 14px;
  margin: 3px 0;
}
.footer-icon {
  margin-top: 16px;
}
.footer-icon a {
  padding: 16px;
  color: #fff;
  width: 32px;
  height: 32px;
}

/* Media Query */

/* Mobile Device */
@media only screen and (max-width: 668px) {
}

/* Tablet Device */

@media only screen and (min-width: 668px) and (max-width: 992px) {
  .container {
    width: 100%;
  }

  nav {
    margin-bottom: 0;
  }

  .banner {
    gap: 0;
  }

  .banner-title {
    font-size: 35px;
  }

  .collection {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .brand-logos {
    grid-template-columns: repeat(4, 1fr);
  }
}
